<center>
Assignment_02

Topic: __*Bitwise Operators*__
</center>

**AND Operation Problem:**

Calculate the result of the bitwise AND operation on the numbers 25 and 30.

In [ ]:
bitwise_and = 25 & 30
print(f"AND Operation (25 & 30): {bitwise_and} ")

AND Operation (25 & 30): 24

**OR Operation Problem:**

Calculate the result of the bitwise OR operation on the numbers 45 and 25.

In [ ]:
bitwise_or = 45 | 25
print(f"OR Operation (45 | 25): {bitwise_or} ")

OR Operation (45 | 25): 61

**XOR Operation Problem:**

Calculate the result of the bitwise XOR operation on the numbers 29 and 15.

In [ ]:
bitwise_xor = 29 ^ 15
print(f"XOR Operation (29 ^ 15): {bitwise_xor} ")

XOR Operation (29 ^ 15): 18

**NOT Operation Problem:**

Calculate the result of the bitwise NOT operation on the number 42.

In [ ]:
bitwise_not = ~42
print(f"NOT Operation (~42): {bitwise_not} ")

NOT Operation (~42): -43

**Shift Operations Problem:**

Calculate the result of left shifting the number 15 by 3 positions.

Calculate the result of right shifting the number 200 by 4 positions.

In [ ]:
left_shift = 15 << 3
print(f"Left Shift (15 << 3): {left_shift} ")

Left Shift (15 << 3): 120

In [ ]:
rigth_shift = 200 >> 4
print(f"Right Shift (200 >> 4): {rigth_shift} ")

Right Shift (200 >> 4): 12